* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans KR", sans-serif;
}
:root {
  --main: #6aa864;
}
.App {
  /* text-align: center; */
  max-width: 768px;
  margin: 0 auto;
}
.App .title {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main);
}
.App .upper-text {
  height: 50px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  font-size: 14px;
}
.App .title h1 {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

figure {
  margin: 0;
  padding: 0;
}

.itemList {
  width: 100%;
}

.item {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 20px 10px;
  margin-bottom: 20px;
  gap: 10px;
}

.item > * {
  flex: 1;
  max-height: 33vh;
}

.item figure {
  background: #ccc;
}

.item figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  padding: 20px;
}

.text h2 {
  font-size: 18px;
  margin-bottom: 10px;
}
.text p {
  font-size: 14px;
  line-height: 24px;
}

.btn-box {
  text-align: center;
  display: flex;
  justify-content: center;
}
#btn {
  width: 100px;
  height: 40px;
  background-color: var(--main);
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  margin-right: 20px;
  margin-bottom: 50px;
}
