* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Gothic A1", sans-serif;
  font-family: "Hahmlet", serif;
  font-family: "Noto Sans KR", sans-serif;
}
:root {
  --main: #6aa864;
  --detail-btn: #747474;
}

#home {
  max-width: 768px;
  height: 100vh;
  margin: 0 auto;
}
.homeBox {
  width: 100%;
  height: 100vh;
  background-image: url(../src/images/home2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.headTitle {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 70px;
}
.headTitle h2 {
  font-family: "Hahmlet", serif;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

/* Search */

.App {
  max-width: 768px;
  margin: 0 auto;
  position: relative;
}
.App .title {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  height: 70px;
  display: flex;
  gap: 6px;
  align-items: center;
}
.App .title .iconDog {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}
.App .title .iconDog img {
  width: 100%;
}
.App .title p {
  font-size: 22px;
  font-weight: 700;
  /* color: #fff; */
  color: #000;
}

.App .searchBox {
  /* border: 2px solid darkblue; */
  width: 95%;
  height: 30px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: #ecedf1;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.App .searchBox .searchContent {
  width: 90%;
  background-color: transparent;
  border: none;
  /* border-bottom: 1px solid gray; */
}
.App .searchBox .searchBtn {
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}
.App .searchBox .searchBtn img {
  width: 100%;
  height: 100%;
}
.App .upperText {
  font-family: "Noto Sans KR", sans-serif;
  color: #000000cc;
  height: 50px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  font-size: 14px;
  margin: 0 12px;
}

figure {
  margin: 0;
  padding: 0;
}

.itemList {
  width: 100%;
}

.item {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 20px 10px;
  margin-bottom: 20px;
  gap: 10px;
}

.item > * {
  flex: 1;
  max-height: 33vh;
}

.item figure {
  background: #ccc;
}

.item figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text h2 {
  font-size: 18px;
  margin-bottom: 15px;
}
.text p {
  font-size: 14px;
  line-height: 24px;
}
.btnDetail {
  width: 120px;
  height: 40px;
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: var(--detail-btn);
}
.btnDetail:hover {
  color: #fff;
  background-color: var(--detail-btn);
  border: var(--detail-btn);
  transition: all ease-in 0.4s;
}

.btnBox {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
#btn {
  width: 100px;
  height: 40px;
  background-color: var(--main);
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  margin-right: 20px;
  margin-bottom: 50px;
}

/* bottom box */
/* nav */
.bottomBox {
  max-width: 768px;
  margin: 0 auto;
  height: 70px;
  background-color: #6aa864;
  color: #fff;
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}
.bottomBox .iconBox {
  width: calc(100% / 2);
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottomBox .iconHome {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.bottomBox .iconHome img {
  width: 100%;
}
.bottomBox .iconSearch {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.bottomBox .iconSearch img {
  width: 100%;
}

/* Detail 컴포넌트 */
#detail {
  max-width: 768px;
  height: 100vh;
  margin: 0 auto;
}
#detail .App {
  display: flex;
  flex-direction: column;
}
#detail .App .title {
  width: 100%;
  height: 70px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 35%;
}
#detail .pre {
  margin-left: 10px;
}
#detail .container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
#detail .detailImg {
  width: 80%;
  height: 100%;
  object-fit: cover;
}
#detail .detailImg img {
  width: 100%;
  height: 100%;
}
#detail .detailBox {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  font-family: "Noto Sans KR", sans-serif;
}
#detail .detailBox p {
  margin-bottom: 5px;
}
#detail .detailBox table {
  width: 100%;
}
