/* App.css */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 375px;
  height: 100%;
  border: 1px solid red;
}

.text-box {
  display: flex;
  height: 184px;
}

.text-box .animal-img {
  width: 100%;
}
