<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;600;700&family=Hahmlet:wght@400;500;700&family=Noto+Sans+KR:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <style>
      * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
      }
      .splash {
        width: 100vw;
        height: 100vh;
        margin: 0 auto;
        background-image: url(../src/images/home.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        position: relative;
      }
      .head-title {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 70px;
      }
      h2 {
        font-family: "Hahmlet", serif;
        font-size: 30px;
        font-weight: 700;
        color: #fff;
      }
    </style>
    <title>부산 119 구조동물 조회</title>
  </head>
  <body>
    <div class="splash">
      <div class="head-title">
        <h2>부산 119 구조동물 조회</h2>
      </div>
    </div>
    <!-- splash -->
    
    <script>
      setTimeout(() => {
        let link = "/";
        location.href = link;
      }, 1000);
    </script>
  </body>
</html>
